textarea {
    min-height: 400px;
}

.email-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

.email-unread {
    background-color: white;
}

.email-read {
    background-color: grey;
}
